_ReSharper.Ddhp

**/bin

**/*.user
**/*.min.css
**/*.min.js

PublishProfiles/

**/obj

/src/Ddhp.sln.DotSettings.user

/src/Ddhp.v11.suo
/src/Ddhp.Repositories/Ddhp.Repositories.csproj.user

**/wwwroot/lib/

/src/Ddhp.Domain/Ddhp.Domain.csproj.user
/src/Ddhp.v12.suo
*.vsp
/src/Ddhp.Web/Properties/PublishProfiles/doogiecupbeta.pubxml.user
/src/packages
/src/Ddhp.Web.Tests/Bdd/Features/AllTeamsEmail.feature
/src/Ddhp.Web.Tests/Bdd/Features/AllTeamsEmail.feature.cs
/src/Ddhp.Web/Properties/PublishProfiles/ddhp.pubxml.user
/src/Ddhp.Web/Ddhp.Web.csproj.user
/src/packages
/src/Ddhp.Web/Ddhp.Web.csproj.user
/src/Ddhp.Web/.sass-cache/806eeee795264a290fe00d7a9ae9ffd570ff8f1b
/src/.vs/config/applicationhost.config
*.suo
.idea/
.vs/
.vscode
logs/
*.user